@model ProjektPPiJ.Models.TestViewModel


@{
    ViewBag.Title = "Evaluate";
}

<div class="row">
    @{int cnt = 0, score = 0;}
    
    @foreach (var item in Model.odgovori)
    {
        <div class="alert alert-dismissible alert-info">
            <div>@Html.DisplayFor(m => item.pitanje)</div>
            Tocan Odgovor: @Model.odgovori[cnt].tocanOdgovor <br />
            Ponudjeni Odgovor: @Model.odgovori[cnt].ponudjeniOdgovor <br />
            Osvojeno bodova: @Model.odgovori[cnt].evaluate()/1 <br />
            </div>
        <br />

        score += Model.odgovori[cnt].evaluate();
        ++cnt;
    }

    @{double perc = (double) score * 100 / cnt;}

    <div>
        Ukupni Bodovi: @score/@cnt <br /> 
        Postotak rješenosti: @perc % <br />
    </div>

</div>

