@model IEnumerable<ProjektPPiJ.Models.Predmeti>

@{
    ViewBag.Title = "Odabir Predmeta";
}

<h2>Odaberi predmet koji želiš sljedeće pokoriti i ostale učiniti zavidnima</h2>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="alert alert-dismissible alert-success col-sm-3 ">
            <div>
                @Html.DisplayFor(m => item.PredmetName)
            </div>
            <div >
                @Html.ActionLink("Odaberi željenu kategoriju", "OdaberiKategoriju", "Kategorije",
                new { predmetID = item.PredmetID }, new {@class="btn btn-link" })
            </div>
        </div>
        <div class="col-sm-1"></div>
    }
</div>
 
