@{
    ViewBag.Title = "Help";
}

<h2>Informacije za korištenje</h2>

<p>
    Kako bi se moglo raditi sa aplikacijom potrebno je registrirati se ili se prijaviti u sustav.<br />
    Potom se klikne na <strong class="text-success"><i class="text-success">Hello korisničko ime!</i> </strong>
    te se time odlazi na user dashboard preko kojeg je moguće odabrati testove
</p>
