@{
    ViewBag.Title = "Kontakt informacije";
}
<h2>@ViewBag.Title.</h2>

<h3>Za bilo kakve informacije obratiti se nekom od članova tima</h3>

<h4>Članovi tima</h4>
<ul>
    <li>Nikola Bukovac</li>
    <li>Ivan Golik</li>
    <li>Ivan Paljak</li>
    <li>Andro Radić</li>
</ul>