@{
    ViewBag.Title = "Spartansko učilište";
}

<div class="jumbotron">
    <h1>Spartansko učilište</h1>
    <p class="lead">Dobrodošli na Spartansko učilište, on-line sustav za pomoć pri svladavanju školskih obaveza. 
    Želiš skupiti dobre ocjene? Savladati posebno zahtjevan dio gradiva? <br /> <br /> Prijavi se u sustav i 
    provjeri svoje znanje!</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Saznaj više! &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Veliko HVALA!</h2>
        <p>
            "Bez, ove stranice, nikada nebih naučijo pravopis...", <br /> Matko, 5. razred
        </p>
        <p><a class="btn btn-default" href="#">Više &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ispiti koji ostavljaju bez daha!</h2>
        <p>"Nevjerojatno iskustvo koje, od srca, preporučamo svim čitateljima" <br /> New York Times, 2015.</p>
        <p><a class="btn btn-default" href="#">Više &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mali prijedlog...</h2>
        <p>"Bilo bi super kada biste podržavali simulaciju pravih ispita (gdje svi učenici rješavaju zadatke 
        u isto vrijeme).Zahvaljujući ovoj stranici više ne moram smišjati pitanja za ispite,
         a uz ovaj prijedlog ne bih morala ništa ispravljati"
        <br /> Marta, nastavnica biologije</p>
        <p><a class="btn btn-default" href="#">Više &raquo;</a></p>
    </div>
</div>
    