@{
    ViewBag.Title = "Success";
}

<h2>Registracija je uspješna!</h2>
<div>
    <p>
        Hvala što ste se registrirali u Ime_Aplikacije. Kliknite @Html.ActionLink("ovdje", "Login", "Account") da biste se prijavili u sustav.
    </p>
</div>
