@{
    ViewBag.Title = "Failure";
}

<h2>Registracija nije uspjela!</h2>
<div>
    <p>
        Izgleda da je došlo do pogreške. Molimo pokušajte @Html.ActionLink("ponovo", "Register", "Login").
    </p>
</div>
