@model IEnumerable<ProjektPPiJ.Models.Kategorije>

@{
    ViewBag.Title = "Odaberi Kategoriju";
}

<h2>Odaberi Kategoriju</h2>


<div class="row">
    @foreach (var item in Model)
    {
        if (item.KategorijaName != "arrow" && item.KategorijaName != "talijan" )
        {
        <div class="alert alert-dismissible alert-success col-md-3">
            <div>
                @Html.DisplayFor(m => item.KategorijaName)
            </div>
            <div>
                @Html.ActionLink("Započni ovaj test!", "Test", "Pitanja", new { kategorijaID = item.KategorijaID },
                new { @class = "btn btn-link" })
            </div>
        </div>
        <div class="col-md-1"></div>
        }
    }
</div>